{% extends "app/layout.html" %}

{% block content %}

<div>
    <div>
        <p class="text-center"><img src="../../static/app/img/Russian_Post.png" width="350"></p>
    </div>
    <div class="login-div">
        <section id="loginForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="login-form">
                </div>
                <hr />
                <div class="login-form">
                    <label for="id_username" class="col-md-2 control-label">Логин</label>
                    <div class="login">
                        {{ form.username }}
                    </div>
                </div>
                <div class="login-form">
                    <label for="id_password" class="col-md-2 control-label">Пароль</label>
                    <div class="login">
                        {{ form.password }}
                    </div>
                </div>
                <div class="login-form">
                    <div>
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Войти" class="btn btn-default btn-custom" />
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">Введите корретный логин и пароль.</p>
                {% endif %}
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
