{% extends "app/layout.html" %}

{% block content %}

<div class="windows-div">
    <div class="settings-div-chld">
        <p class="index-center"><a class="settings-btn" href="{% url 'settings' %}">Учетные записи</a></p>
        <p class="index-center"><a class="settings-btn btn-def" href="{% url 'settingsw' %}">Окна</a></p>
        <p class="index-center"><a class="settings-btn" href="{% url 'settingso' %}">ОПС</a></p>
    </div>

    <div class="settings-div-chld-two">

    </div>
</div>

{% endblock %}
