{% extends "app/layout.html" %}

{% block content %}

<div class="index-main index-center">
    <div class="col-md-4">
        <h2>Система управления очередью</h2>
        <p class="index-center"><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Зайти на окно &raquo;</a></p>
        <p class="index-center"><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Статистика &raquo;</a></p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Настройки СУО &raquo;</a></p>
    </div>
</div>

{% endblock %}
