body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*Кастомные стили*/
.login-form {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.index-main {
    width:300px;
    height:300px;
    margin-top:300px;
}

.text-center {
    text-align: center;
}

.btn-custom {
    display: block;
    margin: auto;
}

.btn-index {
    width:130px;
}

.login-div {
    height: 250px;
}

.index-div {
    height: 150px;
    margin: auto;
    text-align: center;
}

.windows-div {
    height: 600px;
    position: relative;
}

.windows-div-chld {
    width: 70%;
    height: 600px;
    position: absolute;
    top: 2%;
    bottom: 0%;
    margin-bottom: 20px;
    left: 15%;
    background-color: #f8f9fa;
    border-width: 2px;
    border-color: #ccc;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    text-align: center;
    padding-top: 200px;
}


.statistics-div {
    height: 610px;
    width: 100%;
    position: relative;
}
.statistics-div-chld {
    width: 80%;
    height: 30px;
    position: absolute;
    float: left;
    top: 2px;
    bottom: 0%;
    margin-bottom: 20px;
    left: 10%;
    background-color: #f8f9fa;
    border-width: 2px;
    border-color: #ccc;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    text-align: center;
}

.statistics-div-chld-two {
    width: 100%;
    height: 580px;
    position: absolute;
    top: 40px;
    bottom: 0%;
    margin-bottom: 20px;
    left: 0%;
    background-color: #f8f9fa;
    border-width: 2px;
    border-color: #ccc;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    text-align: center;
    padding-top: 200px;
}

.settings-div-chld {
    width: 25%;
    height: 170px;
    position: absolute;
    top: 2%;
    bottom: 0%;
    margin-bottom: 20px;
    left: 4%;
    background-color: #f8f9fa;
    border-width: 2px;
    border-color: #ccc;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 5px;
}

.settings-div-chld-two {
    width: 70%;
    height: 600px;
    position: absolute;
    top: 2%;
    bottom: 0%;
    margin-bottom: 20px;
    left: 30%;
    background-color: #f8f9fa;
    border-width: 2px;
    border-color: #ccc;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    text-align: center;
    padding-top: 200px;
}

.settings-btn{
    width:97%;
    text-align:left;
}