body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*Кастомные стили*/
.login-form {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.index-main {
    width:300px;
    height:300px;
    margin-top:300px;
}

.text-center {
    text-align: center;
}

.btn-custom {
    display: block;
    margin: auto;
}

.btn-index {
    width:130px;
}

.login-div {
    height: 250px;
}

.index-div {
    height: 150px;
    margin: auto;
    text-align: center;
}

.windows-div {
    height: 600px;
    position: relative;
}

.windows-div-chld {
    width: 70%;
    height: 600px;
    position: absolute;
    top: 2%;
    bottom: 0%;
    margin-bottom: 20px;
    left: 15%;
    background-color: #f8f9fa;
    border-width: 2px;
    border-color: #ccc;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    text-align: center;
    padding-top: 200px;
}


.statistics-div {
    height: 610px;
    width: 100%;
    position: relative;
}
.statistics-div-chld {
    width: 80%;
    height: 30px;
    position: absolute;
    float: left;
    top: 2px;
    bottom: 0%;
    margin-bottom: 20px;
    left: 10%;
    background-color: #f8f9fa;
    border-width: 2px;
    border-color: #ccc;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    text-align: center;
}

.statistics-div-chld-two {
    width: 100%;
    height: 580px;
    position: absolute;
    top: 40px;
    bottom: 0%;
    margin-bottom: 20px;
    left: 0%;
    background-color: #f8f9fa;
    border-width: 2px;
    border-color: #ccc;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    text-align: center;
    padding-top: 0px;
}

.settings-div-chld {
    width: 25%;
    height: 170px;
    position: absolute;
    top: 2%;
    bottom: 0%;
    margin-bottom: 20px;
    left: 4%;
    background-color: #f8f9fa;
    border-width: 2px;
    border-color: #ccc;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 5px;
}

.settings-div-chld-two {
    width: 70%;
    height: 600px;
    position: absolute;
    top: 2%;
    bottom: 0%;
    margin-bottom: 20px;
    left: 30%;
    background-color: #ffffff;
    border-width: 2px;
    border-color: #ccc;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    text-align: center;
    padding-top: 200px;
}

.settings-div-chld-3 {
    width: 100%;
    height: 5%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    margin-bottom: 0px;
    left: 0%;
    background-color: #f8f9fa;
    border-width: 2px;
    border-color: #ccc;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    text-align: center;
}

.settings-div-chld-4 {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    margin-bottom: 0px;
    left: 0%;
    background-color: #f8f9fa;
    border-width: 2px;
    border-color: #ccc;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    text-align: center;
}

.settings-btn {
    width: 97%;
    text-align: left;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.settings-btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.settings-btn:hover,
.settings-btn:focus {
    color: #333333;
    text-decoration: none;
    background-color: #ebebeb;
    border-color: #adadad;
}

.settings-btn:active,
.settings-btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.settings-btn.disabled,
.settings-btn[disabled],
fieldset[disabled] .settings-btn {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-def {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.settings-btn-cr {
    width: 30%;
    text-align: center;
    display: inline-block;
    padding: 3px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.tickets-div-main {
    height: 1080px;
    width: 1920px;
    position: relative;
}

.tickets-div-left {
    width: 20%;
    height: 1080px;
    position: absolute;
    text-align: center;
    font-size: 400%;
}

.tickets-div-right{
    margin-left: 80%;
}

.tickets-div-center {
    width: 60%;
    height: 1080px;
    margin-left: 20%;
    position: absolute;
    background-color: #d1ddeb;
}

.tickets-body {
    padding: 0px;
    width: 1920px;
    height: 1080px;
}

.tickets-body-content {
    height: 100%;
    margin: 0px;
}

.kiosk-body {
    height: 100vh;
    width: 80%;
    position: relative;
    padding-top: 5px;
    background-color: #f5f5f5;
}

.kiosk-h {
    text-align: center;
    color: #1331ff;
    font-family: 'abc';
    font-weight: bold;
    font-size: 30px;
    white-space: pre-wrap;
}

.kiosk-div {
    height: 20%;
    width: 20%;
    position: absolute;
    display: inline-block;
    top: 10%;
    left: 50%;
    font-size: 30px;
    font-weight: bold;
}

.kiosk-div button {
    padding: 10px;
}

.kiosk-div-bottom {
    top: 35%;
}

@font-face {
    font-family: 'abc';
    src: local('Abc'), url('../static/fonts/helveticaneuecyr-roman.ttf') format("truetype");
}